.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.rooms-instance {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.rooms-instance input {
  font-size: 18px;
  margin: auto;
  padding: 10px 0px;
  width: 80%;
  background-color: #efeff0;
  border: none;
  border-bottom: solid 1px #cfcfcf;
  margin-bottom: 40px;
}

.rooms-instance button {
  font-size: 16px;
  margin: auto;
  padding: 10px 0px;
  width: 80%;
  background-color: #1b89f0;
  border: none;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
}

.rooms-instance .disabled,
.room .disabled {
  background-color: #68a3da;
}

.rooms-instance button:not(.disabled):hover {
  cursor: pointer;
  background-color: #146fc4;
}

.rooms-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 40px;
}

.rooms-choice hr {
  width: 100%;
}

.room-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.room button {
  font-size: 16px;
  margin: auto;
  padding: 10px 0px;
  width: 80%;
  background-color: #1b89f0;
  border: none;
  color: white;
  margin-bottom: 40px;
  border-radius: 5px;
  transition: 0.2s;
}

.room button:hover {
  cursor: pointer;
  background-color: #146fc4;
}

.room button div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.room button div p {
  margin: 0;
  padding: 0;
}

.room-container {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-container h1 {
  padding: 20px 0px;
  margin: 0px;
  border-bottom: 1px solid #ccc;
  background-color: #4963b1;
  color: white;
}

.room-content {
  height: 100%;
  overflow-y: auto;
}

.users-list {
  height: 100%;
  overflow-y: auto;
}

.users-header {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.users {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.users > button {
  font-size: 16px;
  margin: auto;
  padding: 10px 0px;
  width: 80%;
  background-color: rgb(197, 33, 33);
  border: none;
  color: white;
  margin-bottom: 40px;
  border-radius: 5px;
  transition: 0.2s;
}

.users > button:hover {
  cursor: pointer;
  background-color: rgb(150, 25, 25);
}

.user {
  width: 80%;
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.user-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.users p {
  padding: 10px 0px;
  margin: 0px;
}
