.restaurants-section {
  width: 20%;
  height: 100%;
}

.restaurants-container {
  overflow-y: scroll;
  max-height: 90vh;
}

.restaurant-container {
  width: 90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
  display: flex !important;
  align-items: center
}

.restaurant-container img {
  width: 80px;
  min-height: 60px;
  max-height: 60px;
  object-fit: cover;
}
.restaurant-container p{
  font-size: 12px;
}