.restaurants-section {
  width: 25%;
  height: 100%;
}

.restaurants-section h1 {
  padding: 20px 0px;
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

.restaurants-container {
  overflow-y: auto;
  max-height: 90vh;
}

.restaurant-container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
}

.restaurant-container img {
  width: 120px;
  min-height: 80px;
  max-height: 80px;
  object-fit: cover;
}
